.app {
  margin-bottom: 0px;
  height: 100%;
}

#header {
  z-index: 2;
  position: fixed;
  background-color:#121212;;
  height: 70px;
  width: 100%;
  border-bottom: #737373 0.5px solid;
}

#sidebar {
  position: fixed;
  height: 100%;
  width: 12%;
  padding-top: 100px;
  text-align: center;
  border-right: #737373 0.5px solid;
  font-size: 15px;
  color: #A2A4A3;
}

#content {
  float: right;
  width: 90%;
  margin-top: 75px;
  text-align: center;
  left:10%;
}

/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/