form{
    margin-top:100px;
}
.txtinput{
    background-color: gray;
    border-color: gray;
    height: 25px;
    border-radius: 3px;
    margin-bottom: 25px;
}

.submitinput{
    background-color: #2bb14c;
    border-color: #2bb14c;
    color: white;
    height: 35px;
    width: 200px;
    font-size: 20px;
    margin-top: 25px;
}