.authbuttons{
    float: right;
}

#addbutton{
    margin-left:700px;
    margin-top: 10px;
    width: 200px;
    height: 35px;
    color: white;
    background-color: #2bb14c;
    border-color: #2bb14c;
    font-size: 25px;
    border-radius: 3px;
}

#logo{
    height: 95%;
    width: 7%;
    margin-top: 0;
    margin-left: 55px;
}
.headerbutton{
    background-color: #2bb14c;
    border-color: #2bb14c;
    border-radius: 3px;
    margin-top: 15px;
    margin-right: 20px;
    color: white;
    height: 30px;
    width: 70px;
    font-size: 15px;
}