.item{
    font-size: 17px;
    text-align: left;
    width: 50%;
    height: 100%;
    margin-left: 28%;
    
    margin-bottom: 10%;
    border:solid,white;
}


a:link {

    text-decoration: none;
  
}

.imgAndDesc{
    padding-bottom: 0px;
}
.columnRight{
    /*overflow: hidden;*/
    padding-bottom: 0px;
}

.itemImage{
    float: left;
    width: 350px;
    height: 250px;
    margin-right: 20px;
    margin-top: 6px;
    padding-bottom: 0px;
}

.bookmarks{
   
}

.bookmark{
    margin-right: 20px;
    height:'15px'; 
    width:'20px';
    font-size: 20px;
}

.pubDate{
    float:right;
    font-size: 15px;
    color: #2bb14c;
}

.description{
    font-size: 12px;
    font-weight: 600;
    padding-bottom: 0px;
}

.title{
   
}

a{ 
    color: inherit;
} 


