.item{
    font-size: 17px;
    text-align: left;
    width: 700px;
    
    margin-left: 28%;
    margin-top: 100px;
    margin-bottom: 30px;
    border:solid,white;
}

a:link {

    text-decoration: none;
  
}


.itemImage{
    float: left;
    width: 350px;
    height: 250px;
   
    margin-right: 20px;
}

.bookmarks{
   
}

.bookmark{
    margin-right: 20px;
    height:'15px'; 
    width:'20px';
    font-size: 20px;
}

.pubDate{
    float:right;
    font-size: 15px;
    color: #2bb14c;
}



img{/*
    float: left;
    width: 300px;
    height: 200px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 20px;*/
}

.description{
    font-size: 12px;
    float:inherit;
    
}

.title{
   
}

a{ 
    color: inherit;
} 